<h1>Welcome to our awesome homepage!</h1><br/>

<h2>What would you like to do?</h2><br>

<%= link_to 'Creat New Team', new_team_path(@team) %> |
<%= link_to 'Create New Student', new_student_path(@student) %>